/*https://stackoverflow.com/questions/20760047/bootstrap-caret-with-upside-down*/
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

th a {
    color: #000;
}

.inline-block {
    display:inline-block;
}

.clickable {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #72afd2;
}